@import "_settings";
@import "_responsive";

.bigBox {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    // overflow: hidden;
    @include noScroll;
    padding: 20px 0 0 0;
    position: relative;
}
.cellArea {
    top: 0;
    left: 0;
    $cellSize: 80px;
    $tagSize: 50px;
    // height: 100%;
    // @include noScroll;

    margin: -$tagSize 0 0 0;

    @mixin setting {
        display: inline-block;
        text-align: center;
        line-height: $cellSize;
        margin: 5px;
    }

    .variable {
        @include setting;
        width: $tagSize;
        height: $tagSize;

        line-height: $tagSize;

        position: relative;
        float: left;
    
        @mixin VariableSetting {
            white-space: nowrap;
            font: {
                size:16px;
                weight: 900;
            }
            p {
                height: $tagSize / 2;
                line-height: $tagSize / 2;
            }
        }
        .colVariable {
            @include VariableSetting;
            p {
                padding-left: 20%;
                text-align: right;
            }
        }
        .rowVariable {
            @include VariableSetting;
            p {
                padding-top: 20%;
                text-align: left;
            }
        }
    }
    .colTags{
        float: left;
        .colTag {
            @include setting;
            width: $cellSize;
            height:$tagSize;

            line-height: $tagSize;
        }
    }
    
    .rowTags {
        // display: inline-block;
        float: left;
        .rowTag {
            @include setting;
            width: $tagSize;
            height: $cellSize;
        }
    }
    
    .cellTable {
        float: left;
        .cell {
            @include setting;
            width: $cellSize;
            height: $cellSize;
            display: inline-block;
            // margin: 5px;

            border-radius: 5px;

            background-color: $backgroundColor;
            box-shadow: 0 0 7px $neon;

            transition: .2s;

            // @include noScroll;

            cursor: pointer;
        }
        .cell:hover {
            // background-color: $neon;
            box-shadow: 0 0 30px $neon;
        }
    }
}

@include mobile {
    .bigBox {
        width: 100vw;
        height: 45%;
        // overflow: scroll;
        @include noScroll;
        display: block;
    }
    .cellArea {
        margin: auto;
        border-top: 2px solid rgba(255, 255, 255, 0.7);
        padding: 0 0 20px 0;
        margin: auto;
        margin-bottom: 20px;
    }
    
    $mobileSize: 40px;
    $tagSize: 50px;

    .colTag {
        width: $mobileSize !important;
        height:$tagSize;
    }
    
    .rowTag {
        width: $tagSize;
        height: $mobileSize !important;

        line-height: $mobileSize !important;
    }
    .cell {
        width: $mobileSize !important;
        height: $mobileSize !important;
        // box-shadow: none !important;
        line-height: $mobileSize !important;
        // margin: 2px 3px !important;
    }
}