@import "_settings";
@import "_responsive";

.contentArea {
    width: 100%;
    height: calc(100% - 40px);

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;

    .tableArea {
        width: 100%;
        height: 500px;

        overflow: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none ;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

        position: relative;
    }
}

.inputArea {
    position: relative;
    top: 0;
    left: 0;
    input {
        $height: 33px;
        width: 200px;
        height: $height;

        padding: 0 10px;

        color: white;
        background-color: $backgroundColor;
        border: none;
        border-radius: 5px;
        outline: none;

        font-size: 20px;
        line-height: $height;
    }
    .explanation {
        text-align: right;
    }
}

@include mobile {
    .contentArea {
        
        .tableArea {
            height: 80%;
            display: block;
            position: relative;
        }
    }
}