@import "_settings";

.contentArea {
    width: 100%;
    height: calc(100% - 40px);

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.inputArea {
    position: relative;
    top: 0;
    left: 0;
    input {
        $height: 33px;
        width: 200px;
        height: $height;

        padding: 0 10px;

        color: white;
        background-color: $backgroundColor;
        border: none;
        border-radius: 5px;
        outline: none;

        font-size: 20px;
        line-height: $height;
    }
    .explanation {
        text-align: right;
    }
}

.cellArea {
    $cellSize: 70px;
    $tagSize: 40px;
    @mixin setting {
        display: inline-block;
        text-align: center;
        margin: 5px;
        line-height: $cellSize;
    }
    // display: inline-block;

    .variable {
        @include setting;
        width: $tagSize;
        height: $tagSize;

        line-height: $tagSize;

        position: relative;
        float: left;
    
        @mixin VariableSetting {
            white-space: nowrap;
            font: {
                size:14px;
                weight: 900;
            }
            p {
                height: $tagSize / 2;
                line-height: $tagSize / 2;
            }
        }
        .colVariable {
            // position: absolute;
            // top: 0;
            // left: 50%;
            @include VariableSetting;
            p {
                padding-left: 20%;
                text-align: right;
            }
        }
        .rowVariable {
            // position: absolute;
            // top: 50%;
            // left: 0;
            @include VariableSetting;
            p {
                padding-top: 20%;
                text-align: left;
            }
        }
    }
    .colTags{
        // display: inline-block;
        float: left;
        .colTag {
            @include setting;
            width: $cellSize;
            height:$tagSize;

            line-height: $tagSize;
        }
    }
    
    .rowTags {
        // display: inline-block;
        float: left;
        .rowTag {
            @include setting;
            width: $tagSize;
            height: $cellSize;
        }
    }
    
    .cellTable {
        float: left;
        .cell {
            @include setting;
            width: $cellSize;
            height: $cellSize;
            display: inline-block;
            // margin: 5px;

            border-radius: 3px;

            background-color: $backgroundColor;
            box-shadow: 0 0 3px $neon;

            cursor: pointer;
        }
        .cell:hover {
            background-color: $neon;
        }
    }
}

// .formulaArea {

// }
