@import "_settings";
@import "_responsive";

.bigBox {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    // overflow: hidden;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        width: 8px;  // 스크롤바 너비
    }
    // 스크롤바 트랙(배경) 스타일
    &::-webkit-scrollbar-track {
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 4px;
    }
    // 스크롤바 핸들(움직이는 부분) 스타일
    &::-webkit-scrollbar-thumb {
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 4px;
        
        // 호버 효과
        &:hover {
            background-color: rgba(255, 255, 255, 0.5);
        }
    }
    padding: 30px 0 0 0;
    position: relative;
}
.cellArea {
    top: 0;
    left: 0;
    $cellSize: 80px;
    $tagSize: 50px;
    // height: 100%;
    // @include noScroll;

    margin: -$tagSize 0 0 0;

    @mixin setting {
        display: inline-block;
        text-align: center;
        line-height: $cellSize;
        margin: 5px;
    }

    .variable {
        @include setting;
        width: $tagSize;
        height: $tagSize;

        line-height: $tagSize;

        position: relative;
        float: left;
    
        @mixin VariableSetting {
            white-space: nowrap;
            font: {
                size:16px;
                weight: 900;
            }
            p {
                height: $tagSize / 2;
                line-height: $tagSize / 2;
            }
        }
        .colVariable {
            @include VariableSetting;
            p {
                padding-left: 20%;
                text-align: right;
            }
        }
        .rowVariable {
            @include VariableSetting;
            p {
                padding-top: 20%;
                text-align: left;
            }
        }
    }
    .colTags{
        float: left;
        .colTag {
            @include setting;
            width: $cellSize;
            height:$tagSize;

            line-height: $tagSize;
        }
    }
    
    .rowTags {
        // display: inline-block;
        float: left;
        .rowTag {
            @include setting;
            width: $tagSize;
            height: $cellSize;
        }
    }
    
    .cellTable {
        float: left;
        .cell {
            @include setting;
            width: $cellSize;
            height: $cellSize;
            display: inline-block;
            // margin: 5px;

            border-radius: 5px;

            background-color: $backgroundColor;
            box-shadow: 0 0 7px $neon;

            transition: .2s;

            // @include noScroll;

            cursor: pointer;
        }
        .cell:hover {
            // background-color: $neon;
            box-shadow: 0 0 30px $neon;
        }
    }
}

@include mobile {
    .bigBox {
        width: 100vw;
        // height: 65%;
        // overflow: scroll;
        @include noScroll;
        &::-webkit-scrollbar {
            width: 0px;
            height: 0px;
        }
        display: block;
        padding: 0;
    }
    .cellArea {
        margin: auto;
        border-top: 2px solid rgba(255, 255, 255, 0.7);
        padding: 0 0 20px 0;
        margin: auto;
        // margin-bottom: 20px;
    }
    
    $mobileSize: 35px;
    $tagSize: 50px;

    .variable {
        margin: 5px 0 5px 4px !important;
    }

    .colTag {
        width: $mobileSize !important;
        height:$tagSize;
        white-space: nowrap;

        margin: 5px 4px !important;
    }
    .rowTags {
        // display: inline-block;
        float: left;
        width: $tagSize !important;
        .rowTag {
            width: $tagSize;
            height: $mobileSize !important;

            line-height: $mobileSize !important;

            margin: 4px 0 !important;
        }
    }
    
    .cell {
        width: $mobileSize !important;
        height: $mobileSize !important;
        margin: 4px !important;
        // box-shadow: none !important;
        line-height: $mobileSize !important;
        
    }
}