@import "_settings";
@import "_responsive";

.truthTable {
    min-width: 300px;
    height: 360px;
    background-color: $backgroundColor;
    box-shadow: 0 0 7px $neon;
    border-radius: 5px;
    padding: 10px;

    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none ;

    // position: fixed;

    .truthTable:-webkit-scrollbar {
        display: none;
    }
    h2 {
        text-align: center;
        font: {
            size: 24px;
            weight: 900;
        }
    }

    .truthTableRow {
        display: flex;
        align-items: center;
        justify-content: space-between;

        border-top: 1px solid white;
        margin-top: 5px;
        padding: 3px 20px;

        p {
            display: inline-block;
            font: {
                size: 18px;
                weight: 900;
            }
        }
    }
}

@include mobile {
    .truthTable {
        position: fixed;
        width: 90%;
        height: 300px;

        left: 50%;
        transform: translate(-50%, 0);

        margin: auto;
    }
}