@import "_settings";
@import "_responsive";

.truthTable {
    min-width: 300px;
    height: 360px;
    background-color: $backgroundColor;
    box-shadow: 0 0 7px $neon;
    border-radius: 5px;
    padding: 10px;

    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none ;

    // position: fixed;
    // position: relative;

    .truthTable:-webkit-scrollbar {
        display: none;
    }
    h2 {
        text-align: center;
        font: {
            size: 24px;
            weight: 900;
        }
    }

    .truthTableRow {
        display: flex;
        align-items: center;
        justify-content: space-between;

        border-top: 1px solid white;
        margin-top: 5px;
        padding: 3px 20px;

        pre {
            display: inline-block;
            font: {
                size: 18px;
                weight: 900;
            }
        }
    }
}

@include mobile {
    .truthTable {
        .truthTableTitle {
            position: sticky;
            top: -11px;
            left: 0;

            height: 50px;
            line-height: 50px;

            background-color: $backgroundColor;
            margin-top: -10px;
            padding: 0 10px;

            display: flex;
            justify-content: space-between;
            align-items: center;
            div {
                margin-top: 15px;
            }
        }
        
        width: 80%;
        height: 200px;

        margin: auto;
        margin-top: 15px;

        position: relative;
        .truthTableButton {
            position: absolute;
            top: 7px;
            right: 12px;
        }
    }
}