@import "_settings";
@import "_responsive";

.wrapper {
    width: 90%;
    height: 85%;
    min-height: 600px;
    
    color: $font-color;

    background: rgba(0, 76, 72, 0.78);
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 255, 149, 0.1);
    backdrop-filter: blur(4.4px);
    -webkit-backdrop-filter: blur(4.4px);

    position: relative;
    @include goToCenter;

    overflow: hidden;
    .title {
        width: 100%;
        height: 40px;
        background-color: $backgroundColor;

        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: 0 10px 0 15px;

        font-size: 18px;
    }
    .decoButton {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        border: none;

        background-color: tomato;
        color: $font-color;

        position: relative;
        .closeIcon {
            position: absolute;
            @include goToCenter;
            top: 51%;
        }
        position: relative;
    }
    .whatIs {
        z-index: 100;
        position: absolute;
        top: 60%;
        right: 50%;

        width: 350px;
        height: 250px;

        background-color: $backgroundColor;
        box-shadow: inset 0 0 3px $neon;
        border-radius: 10px 0 10px 10px;

        font-size: 18px;
        text-align: left;
        
        display: flex;
        align-items: center;

        padding: 20px;
        line-height: 1.5;

        transition: .5s;
    }
}

@include mobile {
    .wrapper {
        width: 100vw;
        height: 100vh;
    }

    .title {
        display: none !important;
    }
}