@import "_settings";

@media (max-width: 500px) {
    .wrapper {
        width: 100% !important;
        height: 100% !important;
    }
    .contentArea {
        
        .tableArea {
            flex-direction: column !important;
            align-items: center;
            justify-content: center;

            .cellArea {
                box-shadow: 0 0 7px $neon;
            }
        }
    }
}